[submodule "OpenCLUtilities"]
	path = OpenCLUtilities
	url = https://github.com/SINTEFMedisinskTeknologi/OpenCLUtilities.git
[submodule "SIPL"]
	path = SIPL
	url = https://github.com/smistad/SIPL.git
